
*.xcbkptlist

Kap.xcodeproj/project.xcworkspace/xcuserdata/dfitch.xcuserdatad/UserInterfaceState.xcuserstate

.DS_Store

Kap.xcodeproj/project.xcworkspace/xcuserdata/desmondfitch.xcuserdatad/UserInterfaceState.xcuserstate
